<h1>{{siteId}}</h1>

<div class='row'>
  <div class='col-md-6'>
    <label>Traffic Over the Past Day (by hour)</label>
    <div id="daily-chart" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
    <script type='application/javascript'>
    new Chartkick.LineChart('daily-chart', '/sites/{{siteId}}/reports/visits_over_time?interval=hour&range=day');
    </script>
  </div>

  <div class='col-md-6'>
    <label>Traffic Over the Past Month (by day)</label>
    <div id="monthly-chart" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
    <script type='application/javascript'>
    new Chartkick.LineChart('monthly-chart', '/sites/{{siteId}}/reports/visits_over_time?interval=day&range=month');
    </script>
  </div>
</div>


