<h1>Dashboard</h1>

<p>
  <div id="hourly-chart"></div>
</p>

<p>
  <div id="daily-chart"></div>
</p>

<script type="text/javascript">
  var hourlyVisits = {{{ hourlyVisits }}};
  var dailyVisits = {{{ dailyVisits }}};  

  var axis = {
      x: {
          type: 'timeseries',
          tick: {
              format: "%H:%M:%S"
          }
      }
  };

  var hourlyChartParams = {
      bindto: "#hourly-chart",
      data: {
          x: "Time",
          xFormat: "%H:%M:%S",
          columns: [
              ["Time"].concat(hourlyVisits.map((row) => new Date(row.interval))),
              ["Visits"].concat(hourlyVisits.map((row) => row.count)),
          ],
          type: "spline"
      },
      axis: axis,
      title: { 
        text: 'Visits Per Minute (Last Hour)'
      }
  };

  var dailyChartParams = {
      bindto: "#daily-chart",
      data: {
          x: "Time",
          xFormat: "%H:%M:%S",
          columns: [
            ["Time"].concat(dailyVisits.map((row) => new Date(row.interval))),
            ["Visits"].concat(dailyVisits.map((row) => row.count))
          ],
          type: "spline"
      },
      axis: axis,
      title: { 
        text: 'Visits Per Hour (Last Day)'
      }
  }

  c3.generate(hourlyChartParams);
  c3.generate(dailyChartParams);
</script>
