<h1>Documentation</h1>

<div class="card">
  <pre>
    <code>
    &lt;script type="text/javascript">
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'weatherglass-tracker';
        t.setAttribute('data-site-id', 'your unique id here');
        t.src = "https://weatherglass.herokuapp.com/track.js";
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    &lt;/script></code></pre>
</div>
